* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 100%;
}

.container {
    max-width: 1110px;
    margin: auto;

}

.container.d-flex {
    display: flex;
    align-items: center;
    margin-top: 31px;
}

.header-nav {
    list-style-type: none;
    display: flex;
}

.p-right-logo {
    font-family: "20 Kopeek", sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    color: #FFFFFF;
    max-width: 193px;
    margin-left: 32px;
    margin-right: 489px;
}

.a-tel {
    font-family: "20 Kopeek", sans-serif;
    width: 204px;
    height: 36px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 7px 27px 7px 33px;
    display: inline-block;
    text-decoration: none;
}

.a-fb {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 23px;
    margin-right: 23px;
    cursor: pointer;
    text-align: center;
    padding: 8px;
}

.a-ig {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 8px;
}

.section-main {
    background-image: url("../images/01 1.png");
    background-size: cover;
    padding-top: 301px;
    padding-bottom: 225px;

}

.section-main-h1 {
    font-family: "20 Kopeek Book", sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: #181818;
    line-height: 45px;
    max-width: 581px;
    margin-bottom: 30px;

}

.section-main-h3 {
    font-family: "20 Kopeek", sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 110%;
    max-width: 581px;
    color: #181818;
    margin-bottom: 65px;
}

.main-ul {
    list-style-type: none;
    display: flex;
}

.a-portfolio {
    font-family: "20 Kopeek", sans-serif;
    font-size: 16px;
    display: flex;
    background: #FFFFFF;
    border-radius: 40px;
    padding: 23px 47px;
    max-width: 186px;
    text-decoration: none;
    margin-right: 20px;
    color: #181818;
}

.a-application {
    font-family: "20 Kopeek", sans-serif;
    font-size: 16px;
    display: flex;
    background: #FFFFFF;
    border-radius: 40px;
    padding: 23px 47px;
    max-width: 228px;
    text-decoration: none;
    color: #181818;
}

.section-jar-style {
    padding-top: 70px;
    padding-bottom: 133px;

}

.about-jar-item {
    font: 38px "20 Kopeek Book";
    margin-bottom: 15px;
    color: #181818;
    line-height: 110%;
}

.div-item-p-img {
    display: flex;
    margin-bottom: 150px;
}

.div-p-item {
    font-family: "20 Kopeek", sans-serif;
    font-size: 18px;
    max-width: 445px;
    padding-left: 30px;
    color: #181818;
    line-height: 140%;
    position: relative;
    bottom: 10px;
}

.p-item {
    padding-bottom: 30px;
}

.h1-item-logo {
    font-family: "20 Kopeek Book", sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: normal;
    width: 1160px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 55px;
}

.span-number {
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
}

.div-num {
    display: flex;
    width: 100%;
}

.flex-item {
    width: 20%;
}

.flex-item {
    display: flex;
    font-size: 18px;
    line-height: 140%;
    font-family: "20 Kopeek", sans-serif;

}

.div-num span {
    font-size: 55px;
}

.mr-bt {
    margin-bottom: 120px;
}

.div-par-under-num {
    margin-right: 82px;
    max-width: 396px;
    font-family: "20 Kopeek", sans-serif;
    line-height: 140%;
    color: #181818;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.p-pad-bt {
    padding-bottom: 30px;
}

.name-com {
    padding-left: 8px;
    padding-top: 10px;
}

span.style-5 {
    padding-top: 10px;
    padding-left: 8px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}


.p-border-blue {
    background: #2B59C3;
    border-radius: 5px;
    color: white;
    margin-right: -9px;
    margin-left: -9px;
    padding: 7px 7px

}

.h3-under-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 15px;
    font-family: "20 Kopeek Book", sans-serif;
    line-height: 110%;
    font-size: 38px;
    margin-right: 35px;
    font-weight: normal;
}

.f-15px {
    font-size: 15px;
}

.amperia1 {
    margin-bottom: 45px;
}

.name-product {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
}

.watch-project {
    font-family: "20 Kopeek", sans-serif;
    font-size: 18px;
    line-height: 140%;
    border-radius: 40px;
    padding: 23px 47px;
    border: 1px solid #181818;
    color: #181818;
    text-decoration: none;
    margin-left: 110px;
}

.description-products {
    font-family: "20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    max-width: 237px;
    margin-bottom: 100px;
}

.show-more {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    padding: 23px 47px;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid;
    border-radius: 40px;
    background-color: #2B59C3;
    margin-left: 380px;
}

.show-more:hover {
    background: dodgerblue;
}

.mr-123 {
    margin-bottom: 123px;
}

.guid-present {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    margin-bottom: 15px;
}

.div-flex {
    display: flex;
}

.mr-bt-77 {
    margin-bottom: 77px;
}

.mr-bt-150 {
    margin-bottom: 150px;
}

.guid-why {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 30px;
}

.mr-left-30 {
    margin-left: 30px;
}

.div-bcg-bl {
    background: #2B59C3;
    border-radius: 5px;
    color: white;
    margin-right: -9px;
    margin-left: -9px;
    padding: 11px 39px 18px 14px;
    margin-bottom: 33px;
}

.guide-bonus {
    font-family: "20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}

.guide-description {
    font-family: " 20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}

.h2-formik {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    margin-bottom: 11px;
}

.h3-formik {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 27px;
}

.mr-bt-21 {
    margin-bottom: 21px;
}

.input-name {
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 23px 105px 23px 29px;
    font-family: " 20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin-right: 30px;
}

.input-name:hover {
    border-color: #181818;
}

.input-number {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 23px 105px 23px 29px;
    font-family: " 20 Kopeek", sans-serif;
    font-size: 18px;
    line-height: 140%;
    border: 1px solid gray;
    margin-right: 30px;

}

.input-number:hover {
    border-color: #181818;
}

.btn-formik {
    font-family: "20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    padding: 23px 47px;
    border-radius: 40px;
    background: #2B59C3;
    color: white;
    cursor: pointer;
    border: none;
}

.btn-formik:hover {
    background: dodgerblue;
}

.span-color {
    color: #2B59C3;
}

.ch-box {
    font-family: "20 Kopeek", sans-serif;
    font-size: 18px;
    line-height: 140%;
}

.stage-h1 {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    margin-bottom: 83px;
}

.mr-bt-60 {
    margin-bottom: 60px;
}

.mr-bt-23 {
    margin-bottom: 23px;
    margin-right: 298px;
}

.mr-bt-15 {
    margin-bottom: 15px;

}

.mr-rig-30 {
    margin-right: 30px;

}

.p-creating {
    font-family: "20 Kopeek Book", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
}

.top-par {
    font-family: "20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 140%;
}

.bt-par {
    font-family: "20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}

.mr-rig-320 {
    margin-right: 320px;
}

.mr-rig-24 {
    margin-right: 24px;
}

.mr-bt-296 {
    margin-right: 296px;
}

.mr-rig-26 {
    margin-right: 26px;
}

.width-20 {
    width: 20%;
}

.backg-bag {
    background-image: url("../images/Rectangle 32 bkg.png");
    background-size: cover;
    padding-top: 282px;
    padding-bottom: 80px;
}

.h1-bag {
    font-family: "20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.color-white{
    color: #FFFFFF;
}
.flex-item-bag{
    display: flex;
    font-size: 15px;
    line-height: 19px;
    font-family: "20 Kopeek", sans-serif;
    width: 20%;
}
.span-number-bag{
    margin-left: 28px;
}